/* everything */
* {
  box-sizing: border-box;
  margin: 0px;
  border: 0px;
}

/* header */
/* empty */

/* main */
.container {
  background-color: red;
  width: 80%;
  height: 850px;
  padding-top: 10px;
  margin: auto;
  text-align: center;
}

.item {
  background-color: grey;
  width: 300px;
  height: 372px;
  padding-bottom: 10px;
  display: inline-block;
  position: relative;
}

.discount {
  background-color: green;
  position: absolute;
  right: 0;
}

/* .item .discount:nth-child(2n) {
  background-color: red;
} */

/* footer */
/* empty */
